# These dependencies are derived from pyproject.toml
# The file is prepared for Sphinx, which is grouchy about using it :(

# Dependencies
numpy
pandas
matplotlib
ipykernel
nbformat
qgrid
ipyaggrid
typeguard
SQLAlchemy
alembic
requests
lxml
html5lib
html2text
markdown2
emoji
Faker
google-trans-new
python-docx
docxcompose
jupyter-contrib-nbextensions
seaborn
typer
tqdm
# Dev-Dependencies
pytest
pytest-cov
pytest-remotedata
black
setuptools
tox
dunamai
poetry-dynamic-versioning
Sphinx
sphinx-autobuild
sphinx-rtd-theme
sphinxcontrib-napoleon
myst-parser
rstcheck
recommonmark
