numpy
pandas
matplotlib
ipykernel
nbformat
jupyter_contrib_nbextensions
qgrid
ipyaggrid
typeguard
SQLAlchemy
alembic
requests
lxml
html5lib
html2text
markdown2
emoji
Faker
google-trans-new
python-docx
docxcompose
pytest
pytest-cov
pytest-remotedata
black
setuptools
tox
dunamai
poetry-dynamic-versioning
Sphinx
sphinx-autobuild
sphinx-rtd-theme
sphinxcontrib-napoleon
myst-parser
rstcheck
recommonmark